<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrawingBoard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WhiteBoardApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <div class="jumbotron-kid">
            <h1>Welcome to the White Board! 🎨</h1>
            <div class="jumbotron-tip">
                <span class="jumbo-emoji">💡</span>
                <p>
                    Using SignalR to allow multiple of users to collaborate on a single canvas, and allow each users to perform actions independently.
                </p>
                <span class="jumbo-emoji">🖥️</span>
                <p>
                    This .NET Razor application is deployed to Railway using a Docker Container. The architecture can be easily scaled using Redis key-value store.
                </p>
                <span class="jumbo-emoji">🧑‍💻</span>
                <ul>
                    <li>You can have two or more web browsers open (separate windows works best for visualization), or work with someone with a browser opened on your machines.</li>
                </ul>       
            </div>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>